<!DOCTYPE html>
<html>
<head>
    <title>ClimyPy</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Datos en vivo 🌡️💧</h1>
    <p>Temperatura: <span id="temp">--</span> °C</p>
    <p>Humedad: <span id="hum">--</span> %</p>
    <p>Actualizado: <span id="time">--</span></p>

    <script>
        function actualizarDatos() {
            fetch("/data")
                .then(response => response.json())
                .then(data => {
                    document.getElementById("temp").textContent = data.temperatura;
                    document.getElementById("hum").textContent = data.humedad;
                    document.getElementById("time").textContent = data.fecha;
                })
                .catch(error => console.log("Error:", error));
        }

        setInterval(actualizarDatos, 2000); // cada 2 segundos
        actualizarDatos(); // llamada inicial
    </script>
</body>
</html>